<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <h2 th:text="'Change Password'"></h2><br><br>
    <form class="form-signin" autocomplete="off" th:action="@{/profile/password}" th:object="${user}" method="POST">
        <table class="table table-hover">
            <tr>
                <td> <h3 th:text="'Enter Your Old Password '">First Name</h3></td>
                <!-- Using username to get password and save it-->
                <td><input type="password" th:field="*{firstName}" class="form-control input-lg" autofocus="true" title="password" required />
                    <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"/></td>
                <br>
            </tr>
          <tr >
                <td> <h3 th:text="'Enter Your New Password '"></h3></td>
                <td><input type="password" th:field="*{password}" class="form-control input-lg" title="email" required/>
                    <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/></td>
            </tr>
            <tr >
                <td> <h3 th:text="'Enter Your New Password Confirm '"></h3></td>
                <td><input type="password" th:field="*{passwordConfirm}" class="form-control input-lg" title="mobileNumber" required/>
                   <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"/></td>
            </tr>
             <tr>

                 <td><a th:href="@{/profile}" class="btn btn-outline-dark" type="text" th:text="'Back to My Profile'"></a></td>
                 <td><input class="btn btn-outline-dark" type="submit" th:value="'Confirm'" /></td>
             </tr>
        </table>
    </form>
    <br>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>