<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css">

</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <H1>   <span th:text="'A verification email has been sent to: ' + ${userForm.getEmail()}">
            </span></H1>
        </div>
    </div>
    <br><br><br>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>