<!doctype HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
    <div th:fragment="footer">
        <div class="container">
            <th style="position: absolute">
                <span th:text="'© All permission reserved to Ashok Kumar K'"></span>
            </th>
        </div>
        <script type="text/javascript" th:src="@{webjars/jquery/3.3.1-1/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
        <script type="text/javascript" src="../css/euro.js"></script>
    </div>
</body>

</html>