<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="header-css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css/}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="icon" type="image/ico" th:href="@{/img/favicon.ico}"/>
    <title th:text="'National Bank of Ireland'"></title>
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body>
    <div th:fragment="header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="/">&emsp;&emsp;National Bank Of Ireland</a>
            <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarNavAltMarkup">
                <div class="navbar-collapse collapse w-100 order-first dual-collapse2">
                    <ul  class="navbar-nav ml-auto">
                        <li class="nav-item" sec:authorize="hasRole('CUSTOMER')">
                            <a class="nav-link" th:href="@{/money-transfer}" style="color: #1e90ff" th:text="'MONEY TRANSFER&emsp;'"></a>
                        </li>
                        <li class="nav-item" sec:authorize="hasRole('EMPLOYEE')">
                            <a class="nav-link" th:href="@{/search-customer}" style="color: #1e90ff" th:text="'SEARCH CUSTOMER&emsp;'"></a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <a class="nav-link" th:href="@{/profile}" style="color: #1e90ff" th:text="'MY PROFILE&emsp;'"></a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <a class="nav-link" th:href="@{/logout}" style="color: #1e90ff"  th:text="'LOG OUT&emsp;'"></a>
                        </li>
                        <li class="nav-item" sec:authorize="!isAuthenticated()">
                            <a class="nav-link" th:href="@{/login}" style="color: #1e90ff"  th:text="'LOG IN&emsp;'"></a>
                        </li>
                        <li class="nav-item" sec:authorize="!isAuthenticated()">
                            <a class="nav-link" th:href="@{/register}" style="color: #1e90ff" th:text="'REGISTER&emsp;'"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</body>

</html>