<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css">

</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form class="form-signin" autocomplete="off" th:action="@{reset-password}" th:object="${user}" method="POST">
            <div class="form-group">
                      <label th:text="'Password'"></label>
                      <input type="password" th:field="*{password}" class="form-control input-lg" title="password" required/>
                      <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

                  </div>
                  <div class="form-group">
                      <label th:text="'Confirm Password'"></label>
                      <input type="password" th:field="*{passwordConfirm}" class="form-control input-lg" title="passwordConfirm" required/>
                      <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></div>
                  </div>
                <div class="form-group">
                    <label th:text="'Enter the OTP sent to your mail ' + *{email}"></label>
                    <input type="text" th:field="*{lastName}" class="form-control input-lg" title="otp" required/>
                    <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                </div>
                <input type="hidden" th:field="*{username}"  title="username" required/>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <input class="btn btn-outline-dark" type="submit" th:value="'Change Password'" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br><br><br>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>